:root {
    --background-color: white;
    --color: black;
    --primary-color: #6f65ff6b;
    --secondary-color: #65ffa58c;
    --log-container-color: #9494948c;
}

[data-theme="dark"] {
    --background-color: rgb(17, 16, 16);
    --color: white;
    --primary-color: #00868683;
    --secondary-color: #46067a;
    --log-container-color: #4444444b;
}

* {
    margin: 0;
    list-style: none;
}

html, body {
    background-color: var(--background-color);
    color: var(--color);
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 100%;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff6e59;
}

.title {
    position: absolute;
    left: 10px;
}

footer {
    width: 100%;
    height: 200px;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ff6e59;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 50%;

}

.theme {
    position: absolute;
    right: 10px;
}

a {
    text-decoration: none;
    color: var(--color);
}

.main-container {
    width: 90%;
    height: 100%;
    margin: auto;
}

.controls {
    width: 100%;
}

.log-container {
    height: 50%;
    width: 100%;
    overflow-y: auto;
    background-color: var(--log-container-color);
    border-radius: 20px;
    padding: 10px;
}

.log-container p{
    margin-bottom: 1px;    
}

.about {
    height: 100%;
}

.title {
    text-align: center;
}

