{% extends 'base.html' %}

{% block content %}

<div class="main-container">


    <div class="controls">
        <div class="buttons">
            <button class="btn btn-primary" id="list-serial-ports-button">List Serial Ports</button>
            <button class="btn btn-primary" id="autoconnect-button">Autoconnect</button>
            <button class="btn btn-danger" id="disconnect-button">Disconnect</button>
            <button class="btn btn-secondary" id="clear-log-button">Clear Log</button>
            <button class="btn btn-primary" id="test-button">Test Button</button>
            <button class="btn btn-primary" id="poll-mon-ver-button">MON-VER</button>

        </div>


        <div class="manual-connect">
            <select class="form-select w-100" id="serial-port-select">
                <option selected>Serial Port</option>
            </select>
            <select class="form-select w-100" id="baudrate-select">
                <option selected>Baudrate</option>
                <option value="9600">9600</option>
                <option value="38400">38400</option>
                <option value="115200">115200</option>
                <option value="460800">460800</option>
                <option value="921600">921600</option>
            </select>
            <button class="btn btn-primary w-100" id="connect-button">Connect</button>
        </div>


        <div class="connection-status">
            <p id="connection-status">Disconnected</p>
        </div>
    </div>
    <hr>

    <div class="receiver-info">
        <div class="fix-type">
            <p>Fix Type</p>
        </div>
        <div class="coordinates">
            <p>Lat</p>
            <p>Lon</p>
            <p>Alt</p>
        </div>
        <div class="accuracy">
            <p>Accurycy</p>
        </div>
    </div>
    <hr>



    <div class="log-container" id="log-container">
    </div>
    <hr>

</div>


<script src="/static/scripts/app.js"></script>
{% endblock %}