:root {
    --background-color: white;
    --color: black;
    --primary-color: #6f65ff6b;
    --secondary-color: #65ffa58c;
    --log-container-color: #dadada44;
}

[data-theme="dark"] {
    --background-color: rgb(17, 16, 16);
    --color: white;
    --primary-color: #00868683;
    --secondary-color: #46067a;
    --log-container-color: #27272742;
}

* {
    margin: 0;
    list-style: none;
}

html, body {
    background-color: var(--background-color);
    color: var(--color);
    transition: background-color 0.3s ease, color 0.3s ease;
    height: auto;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff6f59;
}

.title {
    position: absolute;
    left: 10px;
}

footer {
    width: 100%;
    height: 200px;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ff6e59;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 50%;

}

.theme {
    position: absolute;
    right: 10px;
}

a {
    text-decoration: none;
    color: var(--color);
}

.main-container {
    width: 90%;
    height: auto;
    margin: auto;
}

.controls {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}

.manual-connect {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 5px;
}

.form-select {
    background-color: var(--background-color);
    color: var(--color);
}

.connection-status {
    height: auto;
    width: 38px;
    display: flex;
    justify-content: center;
    justify-self: right;
    align-items: center;
    background-color: #dc3545;
    border-radius: 10px;
    cursor: default;
    transition: transform 0.5s;
    cursor: pointer
}

.connection-status:hover {
    transform: rotate(180deg);
}

.receiver-data {
    display: grid;
    grid-template-columns: 25% auto;
    column-gap: 10px;
    height: 20%;
    border-radius: 10px;
    border-color: white;
}

.receiver-info, .nav-pvt-data {
    display: grid;
    grid-template-columns: auto;
    border-radius: 10px;
    border-color: white;
    overflow-y: auto;
    background-color: var(--log-container-color);
    padding: 20px;
}

.receiver-info, .nav-pvt-data p {
    padding-bottom: 2px;
}

tr, td {
    font-size: small;
}

#map {
    min-height: 500px;
    border-radius: 10px;
}

.log-container {
    height: 700px;
    width: 100%;
    background-color: var(--log-container-color);
    border-radius: 20px;
    padding: 20px;
}

.logs {
    overflow-y: auto;
    /* height: 90%; */
    height: 600px;
}

.log-container p{
    margin-bottom: 1px;    
    font-size: small;
}

.about {
    height: 100%;
}

.title {
    text-align: center;
}

