{% extends 'base.html' %}

{% block extra_head %}
{% if not frontend_dev_server_url %}
<link rel="stylesheet" href="/static/dist/assets/app.css">
{% endif %}
{% endblock %}

{% block content %}
<div id="app-root"
     data-runtime-environment="{{ runtime_environment }}"
     data-running-in-docker="{{ 'true' if running_in_docker else 'false' }}">
</div>
{% if frontend_dev_server_url %}
<script type="module" src="{{ frontend_dev_server_url }}/@vite/client"></script>
<script type="module" src="{{ frontend_dev_server_url }}/src/main.js"></script>
{% else %}
<script type="module" src="/static/dist/assets/app.js"></script>
{% endif %}
{% endblock %}